pymagnitude==0.1.120
numpy==1.15.4
tweepy==3.7.0
praw==5.3.0
newsapi==0.1.1
requests==2.21.0
gensim==3.4.0
pyldavis==2.1.2
pymongo==3.6.1
scikit-learn==0.19.1
matplotlib==2.2.2
tensorflow==1.15.4
tensorflow_hub==0.2.0
sentencepiece==0.1.8
daiquiri==1.5
pykafka==2.8
redis
schedule==0.5.0
